{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if recipe %}
    Редактирование рецепта
    {% else %}
    Создание рецепта
{% endif %}
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block nav %}
    {% if recipe %}
        {{ block.super }}
    {% else %}
        {% with tab='create_recipe' %}
            {{ block.super }}
        {% endwith %}
    {% endif %}

{% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">
        {% if recipe %}
        Редактирование рецепта
        {% else %}
        Создание рецепта
        {% endif %}
    </h1>
</div>
<div class="form-container">
    <form class="form" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="form__group">
            <label for="id_name" class="form__label">Название рецепта</label>
            <div class="form__field-group">
                {{ form.name }}
                <span class="form__error">{{ form.name.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <p class="form__label">Теги</p>
            <div class="form__field-group">
                <div class="tags">
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_0"  value="breakfast"
                               class="tags__checkbox tags__checkbox_style_orange"
                               {% if 'breakfast' in form.checked_tags %}checked {% endif %}>
                        <label for="id_tags_0" class="tags__label">Завтрак</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_1" value="lunch"
                               class="tags__checkbox tags__checkbox_style_green"
                               {% if 'lunch' in form.checked_tags %}checked {% endif %}>
                        <label for="id_tags_1" class="tags__label">Обед</label>
                    </div>
                    <div class="tags__item">
                        <input type="checkbox" name="tags" id="id_tags_2" value="dinner"
                               class="tags__checkbox tags__checkbox_style_purple"
                               {% if 'dinner' in form.checked_tags %}checked {% endif %}>
                        <label for="id_tags_2" class="tags__label">Ужин</label>
                    </div>
                </div>
                <span class="form__error">{{ form.tags.errors }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="nameIngredient" class="form__label">Ингредиенты</label>
            <div class="form__field-group">
                <div class="form__field-group-ingredientes">
                    <div class="form__dropdown">
                        <input type="text" id="nameIngredient" class="form__input">
                        <div class="form__dropdown-items"></div>
                    </div>
                    <input type="number" id="cantidad" class="form__input" min="0">
                    <label for="cantidad" class="form__label" id="cantidadVal">шт.</label>
                </div>
                <div class="form__field-group-ingredientes-container">
                    {% if recipe %}
                        {% for item in recipe.ingredients.all %}
                            <div class="form__field-item-ingredient" id="ing_{{ item.ingredient.id }}">
                                <span>
                                    {{item.ingredient.title}} {{item.amount}}{{item.ingredient.dimension}}
                                </span>
                                <span class="form__field-item-delete"></span>
                                <input id="nameIngredient_{{ item.ingredient.id }}" name="nameIngredient"
                                       type="hidden"
                                       value="{{item.ingredient.title}}">
                                <input id="valueIngredient_{{ item.ingredient.id }}" name="valueIngredient"
                                       type="hidden"
                                       value="{{item.amount}}">
                                <input id="unitsIngredient{{ item.ingredient.id }}" name="unitsIngredient"
                                       type="hidden"
                                       value="{{item.ingredient.dimension}}">`
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <span class="form__ingredient-link" id="addIng">Добавить ингредиент</span>
                <span class="form__error">{{ ing_error }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_time" class="form__label">Время приготовления</label>
            <div class="form__field-group form__field-group_time">
                {{ form.cooking_time }}
                <label for="id_time" class="form__label">минут</label>
                <span class="form__error">{{ form.errors.cooking_time }}</span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_description" class="form__label">Описание</label>
            <div class="form__field-group">
                {{ form.description }}
                <span class="form__error">{{ form.description.errors }}</span>
            </div>
        </div>
        <div class="form__group" id="image_container">

                <span class="form__label">Загрузить фото</span>
                <div class="form__field-group" style="display: inline-block;">
                    <label for="id_file" class="form__file-button">Выбрать файл</label>
                    <input type="file" name="image" id="id_file" class="form__file">
                    {% if recipe %}
                    <a id="filename" style="float:right; margin-top:15px" class="form__label">
                        <span> {{ recipe.get_image_name }}</span> <span class="form__field-item-delete"></span>
                    </a>
                    {% else %}
                    <a id="filename" style="display:none"></a>
                    {% endif %}
                    <span class="form__error">{{ form.image.errors }}</span>
                </div>
            </div>
        <div class="form__footer">
            {% if recipe %}
            <button class="button button_style_blue">Изменить рецепт</button>
            <a href="{% url 'delete_recipe' user recipe.slug %}" class="form__ingredient-link" style="margin-left:2.5rem">Удалить</a>
            {% else %}
            <button class="button button_style_blue">Создать рецепт</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/utils/debouncing.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'formRecipe.js' %}"></script>
<script src="{% static 'fileName.js' %}"></script>
{% endblock %}