{% extends 'base.html' %}
{% load static %}

{% block title %}Войти{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
<div class="main__header">
        <h1 class="main__title">Войти на сайт</h1>
</div>
<div class="form-container">
    <form method="post" class="form" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form__group">
            <label for="id_username" class="form__label">Имя</label>
            <div class="form__field-group">
                <input type="text" name="username" id="id_username" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_password" class="form__label">Пароль</label>
            <div class="form__field-group">
                <input type="password" name="password" id="id_password" class="form__input">
                {% if form.errors %}
                <span class="form__error">Имя пользователя и пароль не подходят. Введите правильные данные.</span>
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Войти</button>
            <a href="{% url 'password_reset' %}" class="form__forgot-link">Забыли пароль?</a>
        </div>
    </form>
</div>
{% endblock %}







<!--

% extends "base.html"

<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Войти на сайт</div>
      <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Имя пользоваетеля и пароль не совпадают. Введите правильные данные.
        </div>
        {% endif %}

        {% if next %}
            <div class="alert alert-info" role="alert">
              Вы обратились к странице, доступ к которой возможен только для залогиненных пользователей.<br>
              Пожалуйста, авторизуйтесь.
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
              Пожалуйста, авторизуйтесь.
            </div>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <div class="form-group row">
              <label for="{{ form.username.id_for_label }}" class="col-md-4 col-form-label text-md-right">Имя пользователя</label>
              <div class="col-md-6">
                  { form.username|addclass:"form-control" }}
              </div>
          </div>

          <div class="form-group row">
              <label for="{{ form.password.id_for_label }}" class="col-md-4 col-form-label text-md-right">Пароль</label>
              <div class="col-md-6">
                  { form.password|addclass:"form-control" }}
              </div>
          </div>

          <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Войти
              </button>
              <a href="{% url 'password_reset' %}" class="btn btn-link">
                Забыли пароль?
              </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock }-->