{% extends "base.html" %}
{% load static %}

{% block title %}Изменение пароля{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block nav %}
    {% with tab='password_change' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Изменить пароль</h1>
</div>
<div class="form-container">
    <form method="post" class="form">
        {% csrf_token %}
        <p class="form__info-text">
            Чтобы изменить старый пароль — введите его, а затем установите новый.
        </p>
        <div class="form__group">
            <label for="id_old_password" class="form__label">Старый пароль</label>
            <div class="form__field-group">
                <input type="password" name="old_password" id="id_old_password" class="form__input">
                {% if form.errors.old_password %}
                <span class="form__error">{{ form.errors.old_password }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label for="id_new_password1" class="form__label">Новый пароль</label>
            <div class="form__field-group">
                <input type="password" name="new_password1" id="id_new_password1" class="form__input">
                {% if form.errors.new_password1 %}
                <span class="form__error">{{ form.errors.new_password1 }}</span>
                {% endif %}
                <small class="form__input-info">{{ form.new_password1.help_text }}</small>
            </div>
        </div>
        <div class="form__group">
            <label for="id_new_password2" class="form__label">Новый пароль еще раз</label>
            <div class="form__field-group">
                <input type="password" name="new_password2" id="id_new_password2" class="form__input">
                {% if form.errors.new_password2 %}
                <span class="form__error">{{ form.errors.new_password2 }}</span>
                {% endif %}
            </div>
        </div>
       <div class="form__footer">
           <button class="button button_style_blue">Изменить пароль</button>
       </div>
    </form>
</div>

{% endblock %}