{% extends 'base.html' %}
{% load static %}

{% block title %}Новый пароль{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}

{% if validlink %}

<div class="main__header">
    <h1 class="main__title">Введите новый пароль</h1>
</div>
<div class="form-container">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form__group">
            <label for="id_new_password1" class="form__label">Новый пароль</label>
            <div class="form__field-group">
                <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form__input">
                {% if form.errors.new_password1 %}
                <span class="form__error">{{ form.errors.new_password1 }}</span>
                {% endif %}
                <small class="form__input-info">{{ form.new_password1.help_text }}</small>
            </div>
        </div>
        <div class="form__group">
            <label for="id_new_password2" class="form__label">Пароль еще раз</label>
            <div class="form__field-group">
                <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form__input">
                {% if form.errors.new_password2 %}
                <span class="form__error">{{ form.errors.new_password2 }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
           <button class="button button_style_blue">Сбросить пароль</button>
       </div>
    </form>
</div>

{% else %}

<div class="main__header">
    <h1 class="main__title">Ошибка</h1>
</div>
<div class="form-container">
    <form class="form">
        <p class="form__info-text">Ссылка сброса пароля содержит ошибку или устарела.</p>
    </form>
</div>

{% endif %}

{% endblock %}
