{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock %}

{% block content %}
<div class="main__header">
    <h1 class="main__title">Регистрация</h1>
</div>
<div class="form-container">
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form__group">
            <label for="id_first_name" class="form__label">Имя</label>
            <div class="form__field-group">
                <input type="text" required name="first_name" id="id_first_name" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_last_name" class="form__label">Фамилия</label>
            <div class="form__field-group">
                <input type="text" required name="last_name" id="id_last_name" class="form__input">
                <span class="form__error"></span>
            </div>
        </div>
        <div class="form__group">
            <label for="id_username" class="form__label">Имя пользователя</label>
            <div class="form__field-group">
                <input type="text" name="username" id="id_username" class="form__input">
                {% if form.errors.username %}
                <span class="form__error">{{ form.errors.username }}</span>
                {% endif %}
                <small class="form__input-info">{{ form.username.help_text }}</small>
            </div>
        </div>

        <div class="form__group">
            <label for="id_email" class="form__label">Адрес электронной почты</label>
            <div class="form__field-group">
                <input type="email" required name="email" id="id_email" class="form__input">
                {% if form.errors.email %}
                <span class="form__error">{{ form.errors.email }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form__group">
            <label for="id_password1" class="form__label">Пароль</label>
            <div class="form__field-group">
                <input type="password" name="password1" id="id_password1" class="form__input">
                {% if form.errors.password1 %}
                <span class="form__error">{{ form.errors.password1 }}</span>
                {% endif %}
                <small class="form__input-info">{{ form.password1.help_text }}</small>
            </div>
        </div>
        <div class="form__group">
            <label for="id_password2" class="form__label">Пароль еще раз</label>
            <div class="form__field-group">
                <input type="password" name="password2" id="id_password2" class="form__input">
                {% if form.errors.password2 %}
                <span class="form__error">{{ form.errors.password2 }}</span>
                {% endif %}
            </div>
        </div>
        <div class="form__footer">
            <button class="button button_style_blue">Создать аккаунт</button>
        </div>
    </form>
</div>
{% endblock %}
