{% extends 'base.html ' %}
{% load static %}
{% load fetch %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}

{% block nav %}
    {% with tab=tab %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

<div class="main__header">
    <h1 class="main__title">Список покупок</h1>
    {% csrf_token %}
</div>
<div class="card-list card-list_column">
    <ul class="shopping-list">
        {% for recipe in request.session.purchases|get_recipes %}
            <li class="shopping-list__item" data-id="{{recipe.id}}">
                <div class="recipe recipe_reverse">
                    {% thumbnail recipe.image "250x250" crop="center" upscale=True as im %}
                        <img src="{{ im.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    {% endthumbnail %}
                    <h3 class="recipe__title">{{recipe.name}}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{recipe.cooking_time}} мин.</p>
                </div>
                <button class="button shopping-list__button link">Удалить</button>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'download_purchases' %}"><button class="button button_style_blue">Скачать список</button></a>


</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/config/config.js' %}"></script>
<script src="{% static 'js/components/Header.js' %}"></script>
<script src="{% static 'js/components/ShopList.js' %}"></script>
<script src="{% static 'js/api/Api.js' %}"></script>
<script src="{% static 'shopList.js' %}"></script>
{% endblock %}
